.NavbarAll {
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7); */
  position: sticky;
  top: 0;
  margin-bottom: 0.3rem;
  z-index: 1;
}

.logo {
  width: fit-content;
}

#first-nav {
  font-size: 1rem;
}
#first-nav img {
  width: 2rem;
  margin-right: 0.5rem;
}
.element-navbar2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #232323;
}
.btn-element-navbar2 {
  padding: 0.5rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #d5002e;
  color: #fff;
}
