.headerAllnavbars{
  background-color: bisque;
}
#navbarItemsShow a{
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: #333333;
}


@media (min-width: 1124px) {
  .headerAllnavbars {
    max-width: 90%;
  }
}