@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

.tagline-imagen-precio {
  position: relative;
}
.tagline-imagen-croissant {
  position: relative;
  width: 100%;
  height: 100%;
}
.tagline-precio-oferta {
  position: absolute;
  font-size: 5rem;
  top: 43%;
  left: 18%;
  z-index: 1;
  font-family: Passion One;
  color: #fff;
  filter: drop-shadow(0 0 5px #fff);
  animation: aumento calc(20) 1s linear;
}
@keyframes aumento {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 1124px) {
  .tagline-box {
    max-width: 90%;
  }
}
